language: generic
sudo: required
notifications: never
env:
  global:
    - SWIFT_SNAPSHOT="5.1"

matrix:
  include:
    - os: osx
      osx_image: xcode11
      env: USE_XCODEBUILD=true CODECOV_ELIGIBLE=true
    - os: osx
      osx_image: xcode11
      env: DESTINATION="platform=iOS Simulator,name=iPhone 11" SDK=iphonesimulator USE_XCODEBUILD=true
    - os: osx
      osx_image: xcode11
      env: DESTINATION="platform=tvOS Simulator,name=Apple TV 4K" SDK=appletvsimulator USE_XCODEBUILD=true
    - os: osx
      osx_image: xcode11
      env: DESTINATION="platform=watchOS Simulator,name=Apple Watch Series 5 - 40mm" SDK=watchsimulator USE_XCODEBUILD=true
    - os: osx
      osx_image: xcode11
    - os: linux
      services: docker
      env: DOCKER_IMAGE=ubuntu:16.04
    - os: linux
      services: docker
      env: DOCKER_IMAGE=ubuntu:18.04

script:
  - ./.travis/build-package
